.bookmarkBtn {
  height: 58px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 15px;
  border-radius: 5px;
  font-size: 14px;
  background-color: #fff;
  color: #fff;
  border: 1px solid #349A89;
  cursor: pointer;

  span {
    color: #000;
    padding-left: 10px;
  }
}

.tiny {
  z-index: 5;
  position: absolute;
  right: 7px;
  bottom: 46px;
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 50%;
  background: #FFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.163407);
  cursor: pointer;
}
