.productImg {
  height: 145px;
  margin: 0 auto;
  width: auto;
  border-radius: 4px 4px 0 0;
}

.productTitle {
  line-height: 17px;
  color: #373738;
  margin: 4px 12px 9px;
}

.productPrice {
  font-size: 18px;
  line-height: 21px;
  color: #101010;
  margin: 0;
  padding: 0 9px 6px;
  text-decoration: none;
  font-weight: 700;
}
